main {
    margin-bottom: 100px;
}

    main section {
        display: flex;
        flex-direction: column;
    }

.msg_servidor {
    color: red;
    text-align: center;
    margin-top: 40px;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

    input[type=number] {
        -moz-appearance: textfield; /* Firefox */
    }

    form label{
        display: flex;
        flex-direction: column;
        font-size: 18px;
        font-weight: normal;
        margin: 15px 0;
    }

    form span {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    form span input {
        width: 300px;
        height: 40px;
        text-indent: 5px;
        outline: none;
        margin-top: 5px;
    }

    form span p {
        color: red;
        margin-top: 5px;
    }

    form select {
        width: 300px;
        height: 40px;
    }


.btn-enviar{
    width: 150px;
    height: 50px;
    color: #fff;
    background: #9152F9;
    border: none;
    border-radius: 4px;
    margin-top: 50px;
    transition: 0.2s;
    cursor: pointer;
}

.btn-enviar:hover {
    background: #6A43A9;
    transition: 0.2s;
}

.checks {
    width: 100%;
    display: flex;
    justify-content: center;
}

    .checks label {
        margin-bottom: 5px;
    }

    .checks strong {
        font-size: 16px;
        font-weight: bold;
        margin: 0 0 5px 5px;
        text-align: center;
    }

    .checks input {
        width: 145px;
        height: 40px;
        margin: 0 5px;
    }

.quartos, .descricao select {
    margin: 15px 0;
}

    .quartos p {
        color: red;
        margin-top: 5px;
    }

.tipo-pagamento {
    display: flex;
    flex-direction: column;
    align-items: center;
}
    .pagamento{
        display: flex;
    }

    .pagamento input, .pagamento select {
        width: 145px;
        height: 40px;
        margin: 15px 5px;
    }

.msg_erro_checkIn, .msg_erro_checkOut {
    color: red;
    width: 150px;
    font-size: 16px;
    margin-top: 5px;
    text-align: center;
}
