* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

button {
    cursor: pointer;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

/* CABEÇALHO */

.cabecalho_mobile {
    display: none;
}

.cabecalho {
    width: 100vw;
    background: #9157EE;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 130px;
    padding: 5px 80px;
}

    .cabecalho a {
        text-decoration: none;
    }

    .cabecalho img {
        width: 350px;
        height: 350px;
    }

    .cabecalho ul {
        display: flex;
        list-style: none;
        align-items: center;
        margin: 0 40px;
    }

        .cabecalho ul li {
            margin: 0 20px;
        }

            .cabecalho ul li a {
                text-decoration: none;
                color: #fff;
                padding: 10px;
                font-size: 14px;
                font-style: normal;
                font-weight: bold;
                letter-spacing: 2px;
                text-transform: uppercase;
                transition: 0.2s;
            }

                .cabecalho ul li a:hover {
                    color: #282828;
                    transition: 0.2s;
                }

/* Titulo da Página */

.titulo {
    width: 100%;
    background: #7437D7;
    padding: 20px 0;
    text-align: center;
    color: #fff;
}

/* Ticket da Reserva */

main section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}


/* RODAPÉ */

footer {
    margin-top: 200px;
}

footer section {
    background: #9157EE;
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 15px 30px;
}


.historia h2, .contato h2, .redes-sociais h2 {
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
}

    .historia h2:after, .contato h2:after, .redes-sociais h2:after {
        content: "";
        display: block;
        width: 80px;
        background: #fff;
        height: 4px;
        margin-top: 5px;
        margin-left: 2px;
        margin-bottom: 20px;
    }

.historia p {
    width: 250px;
    color: #fff;
}

.contato span {
    margin-top: 20px;
}

    .contato span h3 {
        color: #fff;
        font-weight: bold;
    }

    .contato span p {
        color: #fff;
        margin: 5px 0;
    }

.redes img {
    width: 50px;
    height: 50px;
    margin: 0 5px;
    transition: 0.2s;
}

    .redes img:hover {
        background: #7152A4;
        transition: 0.2s;
    }


.direitos {
    width: 100%;
    background: #7437D7;
    height: 80px;
    text-align: center;
    color: #fff;
    padding: 30px 0 0 0;
    font-style: italic;
}

/* Tablet */

@media (max-width: 1026px) {
  
}

@media (max-width: 900px) {
    .cabecalho{
        display: none;
    }

    .cabecalho_mobile {
        width: 100vw;
        background: #9157EE;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 130px;
        padding: 5px 40px;
        position: relative;
    }
        .cabecalho_mobile img {
            width: 120px;
            height: 120px;
        }

        .cabecalho_mobile div img {
            width: 60px;
            height: 60px;
        }

        .cabecalho_mobile div nav {
            display: none;
            width: 250px;
            height: 100vh;
            background: #fff;
            position: fixed;
            top: 0;
            right: 0;
        }
            .cabecalho_mobile div nav strong {
                font-size: 60px;
                stroke-width: 6px;
                color: #9157EE;
                font-weight: bold;
                margin-left: 10px;
            }

            .cabecalho_mobile div nav ul {
                list-style: none;
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                margin: 20px 0;
            }

                .cabecalho_mobile div nav ul li {
                    margin-bottom: 80px;
                }

                    .cabecalho_mobile div nav ul li a {
                        color: #9157EE;
                        font-size: 22px;
                        padding: 20px;
                        text-decoration: none;
                        text-transform: uppercase;
                        font-weight: bold;
                    }
}

/* mobile */

@media (max-width: 745px) {
    footer section {
        flex-direction: column;
        height: unset;
        display: block;
    }

    footer section div{
        margin: 20px auto;
    }

    .contato span{
        padding: 10px 0;
    }
}